.ant-form-item {
  margin-bottom: 0px !important;
}

.ant-form-item-label {
  padding: 0px !important;
}

/* .ant-btn-primary{
    border-color: #213555!important;
    background: #213555 !important;
}

.ant-radio-checked .ant-radio-inner{
    border-color: #213555!important;
    background: #213555 !important;
} */
